.container{
  background-color: black;
  display: flex;
  flex-direction: column;
}
.header{
  background-color: blueviolet;
  display: flex;
  flex-direction: row;
 padding:5px;
  margin: 10px;
  justify-content: center;
  position: sticky;
  top:0;
}
.headerButtons{
  margin-left: 5px;
  border-radius: 40px;
  margin-right: 0px;
  height:15vh;
}
.headerButtonsBasket{
  border-radius: 50px;
}

.search{
  padding-left: 20px;
  padding-right: 20px;
  justify-content: center;
  align-items: center;
margin:15px;
text-align: center;
  border: 3px solid white;
  border-radius: 20px;
  height:15vh;

  
}

h5{
  background-color: white;
 border-radius: 50px;
 height: 3vh;
 width: 3vh;
 text-align: center;
}
.extras{
  display: flex;
  flex-direction: row;
  padding:10px;
  text-align: end;
  justify-content: center;
  background-color: blueviolet;
  
}
.extrasMenu:hover{
  cursor:pointer;
  background-color: rgb(175, 112, 234);

}
.extrasXbox:hover{
  background-color: green;
  cursor:pointer;

}
.extrasSwitch:hover{
  background-color: red;
  cursor: pointer;
}
.extrasPc:hover{
  background-color: blue;
  cursor: pointer;
}
.extrasDeals:hover{
  background-color: rgb(175, 112, 234);
  cursor: pointer;
}

h3{
  padding: 20px;


}
body{
  justify-content: center;
}

.display{
  background-color:blueviolet;
  display: flex;
  /* flex-direction: column; */
  width: 100%;
  align-items: center;
  flex-direction: row;
  overflow: auto;

}
.forloop{
  display: flex;
  background-color: blueviolet;
  justify-content: center;
  height: 20vh;


}

.forloop button:hover{
  background-color: rgb(212, 176, 245);
  cursor: pointer;
}
.buttonDiv{
 
  flex-direction: row;
  width: 100%;
  
}
img{
  height: 50vh;
  padding-top:20px;
  width: 50vh;
 padding-left: 20px;
 padding-bottom:20px ;
 

}

.flexcontainer{
  display: flex;
  flex-direction: column;
  flex: 0.5;
  overflow: auto;
  height :50vh;
  justify-content: center;
  align-items: center;

}
  .flex{
    background-color: blueviolet;
    flex: 0.5;
height: 20px;    
overflow: auto;
border-radius: 20px;
  }
  button{
    justify-content: center;
   margin: 20px;
  }
  
  .flexx{
    padding: 10px;
    margin: 20px;

  }
  
  .info{
    flex-direction: row;
    padding-top: 20px;
  }



  .headerButtons{
width:15vh;  
flex-direction: row;
text-align: center;
align-items: center;
height: 15vh
}

.buttonDiv{
  width:23vh;  
flex-direction: row;
text-align: center;
align-items: center;

}

.imagediv{
  flex-direction: row;
  background-color: blueviolet;
  flex:0.4;
  padding-right: 0px;

}
p{
  border: 2px solid white;
  text-align: center;
  justify-content: center;
}


footer{
  background-color: orange;
  justify-content: center;
}

.basketdiv{
  border-radius: 50px;
 
}